@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(46, 119, 224, 1) 20%,
    rgba(9, 9, 121, 1) 35%,
    rgba(17, 58, 200, 1) 53%,
    rgba(81, 127, 152, 1) 74%,
    rgba(0, 212, 255, 1) 100%
  );
}
